# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
npm-debug.log*
*.log

# Archivos de build/producción
dist/
build/

# IDEs y Editores
.vscode/
.DS_Store
Thumbs.db

sequelize model:create --name tbc_usuarios --attributes nombre:string,direccion:string,telefono:string,email:string,password:string,rol:string,fecha_registro:string